<app-header></app-header>
<div class="hero">
  <figure class="hero-image-content">
    <img src="assets/img/hero.jpg" alt="hero image" />
  </figure>
</div>
<div class="page-content-wrapper content proyecto">
  <h2 class="">Proyecto</h2>
  <p>
    En base a los requerimientos planteados por parte de los integrantes de la facultad de ciencias y los médicos del Hospital Pasteur, se
    decidió desarrollar una aplicación que le permitiera a los usuarios conocer los niveles de polen y esporas, de árboles, hierbas y
    hongos, asi cómo también tener un diario de síntomas. Para almacenar tanto los datos de pólenes y esporas, asi como también los nuevos
    síntomas dados de alta por parte de los usuarios fue necesario utilizar una base de datos en conjunto con un servidor para procesar los
    datos almacenados.
  </p>

  <h3 class="">Backend</h3>
  <p>
    Para la implementación del backend utilizamos Django. Django es un framework basado en python, libre y open-source. El backed provee una
    api web, utilizada para registrar usuarios, obtener el último reporte de polen, dar de alta nuevos síntomas, entre otras funciones.
    También provee una admin page, la misma es utilizada entre otras cosas, para dar de alta nuevos reportes de polen.
    <br />
    Para el almacenamiento de los datos se utilizó una base de datos PostgreSQL. PostgreSQL es una poderosa base de datos relacional,
    open-source, con más de 30 años de desarrollo activo, que le ha dado una sólida reputación por su confiabilidad, robustez de funciones y
    rendimiento.

    <br /><br />
    Para acceder al código del backend visite:
    <a href="https://github.com/nataliacampiglia/mia-backend">https://github.com/nataliacampiglia/mia-backend</a>
  </p>

  <h3 class="">Frontend</h3>
  <p>
    Para el frontend decidimos utilizar React Native, el mismo es un framework open-source, que combina el desarrollo nativo de los sistemas
    operativos de iOS y Android en simultáneo, junto con React, una librería de Javascriptespecialmente pensada para crear interfaz de
    usuario.
    <br /><br />
    Para acceder al código del frontend visite:
    <a href="https://github.com/tamarasuarezrod/mia-react-native">https://github.com/tamarasuarezrod/mia-react-native</a>
  </p>
  <br />
</div>
<app-footer></app-footer>
